.cover {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 96px);
  min-height: 740px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../../images/depot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    min-height: 200px;
  }
} 

 



